<header>
    <h1>Universidad Veracruzana</h1>
    <p class="mensaje-bienvendida">Bienvenido <%= nombreUsuario %> </p>
    <div class="menu-icon-content">
        <span class="icon icon-menu" id="icon-menu-open"></span>
    </div>
    
    <nav id="menu">
        <span class="icon icon-x-altx-alt" id="icon-menu-close"></span>
        <a href="#">Lista de Bots</a>
        <a href="#">Agregar Bot</a>
        <a href="#">Reportar Falla</a>     
    </nav>

</header>