<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Importamos el head -->
    <%- include('./partials/head.ejs'); %> 
    <title>Información Bot</title>
</head>
<body>
    <!-- Importamos el header -->
    <%- include('./partials/header.ejs'); %> 
    <main>

    </main>
    <!-- Importamos el footer -->
    <%- include('./partials/footer.ejs') %> 
</body>
</html>