@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
.info-bot {
  width: 90%;
  margin: auto;
  padding-top: 30px;
}

.info-bot .info-bot-content {
  width: 100%;
}

.info-bot .info-bot-content h2,
.info-bot .info-bot-content p {
  width: 100%;
  background-color: #009ee0;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  padding: 10px 0;
  text-align: center;
}

.info-bot .info-bot-content img {
  width: 100%;
  display: block;
}

.info-bot .info-bot-content .info-bot-content-buttons {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

.info-bot .info-bot-content .info-bot-content-buttons span {
  display: block;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-weight: 600;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border-radius: 10px;
}

.info-bot .info-bot-content .info-bot-content-buttons span:hover {
  color: #222;
}

.info-bot .info-bot-content .info-bot-content-buttons .editar {
  background-color: #ffd100;
}

.info-bot .info-bot-content .info-bot-content-buttons .editar a {
  text-decoration: none;
  color: #fff;
}

.info-bot .info-bot-content .info-bot-content-buttons .eliminar {
  background-color: #d90000;
}

.info-bot .info-bot-content .info-bot-content-buttons .eliminar a {
  text-decoration: none;
  color: #fff;
}

.info-bot .info-bot-content .servicios-activos {
  margin-top: 50px;
}

.info-bot .info-bot-content .servicios-activos p {
  background-color: #00b117;
  font-weight: 600;
  margin-bottom: 10px;
}

.info-bot .info-bot-content .servicios-activos .servicio-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  padding-bottom: 5px;
  font-family: "Montserrat", sans-serif;
}

.info-bot .info-bot-content .servicios-activos .servicio-content .button-off {
  padding: 5px;
  border-radius: 5px;
  background-color: #d90000;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  color: #fff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.info-bot .info-bot-content .servicios-activos .servicio-content .button-off:hover {
  color: #222;
}

.info-bot .info-bot-content .servicios-activos .servicio-content .button-on {
  padding: 5px;
  border-radius: 5px;
  background-color: #00b117;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  color: #fff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.info-bot .info-bot-content .servicios-activos .servicio-content .button-on:hover {
  color: #222;
}

.info-bot .info-bot-content .servicios-activos .mensaje-encender-apagar {
  width: 100%;
  background-color: #fff;
  color: #000000;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-weight: 600;
  font-size: 0.8rem;
  display: none;
}

.info-bot .info-bot-content .servicios-apagados {
  margin-top: 50px;
}

.info-bot .info-bot-content .servicios-apagados p {
  background-color: #d90000;
  font-weight: 600;
  margin-bottom: 10px;
}

.info-bot .info-bot-content .servicios-apagados .servicio-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  padding-bottom: 5px;
  font-family: "Montserrat", sans-serif;
}

.info-bot .info-bot-content .servicios-apagados .servicio-content .button-on {
  padding: 5px;
  border-radius: 5px;
  background-color: #00b117;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  color: #fff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.info-bot .info-bot-content .servicios-apagados .servicio-content .button-on:hover {
  color: #222;
}

.info-bot .info-bot-content .agregar-nuevo-servicio-content {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info-bot .info-bot-content .agregar-nuevo-servicio-content form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-bot .info-bot-content .agregar-nuevo-servicio-content form label {
  display: block;
  padding: 5px;
  color: #fff;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  background-color: #009ee0;
  border: 2px solid transparent;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 10px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  margin-top: 10px;
}

.info-bot .info-bot-content .agregar-nuevo-servicio-content form label:hover {
  border: 2px solid #222;
}

.info-bot .info-bot-content .agregar-nuevo-servicio-content form input[type="submit"] {
  display: none;
}

.info-bot .info-bot-content .mensaje-response {
  width: 100%;
  background-color: #fff;
  color: #000000;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-weight: 600;
  font-size: 0.8rem;
  display: none;
}

@media (min-width: 720px) {
  .info-bot .info-bot-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .info-bot .info-bot-content .info-bot-content-left {
    width: 30%;
  }
  .info-bot .info-bot-content .info-bot-content-right {
    width: 30%;
    margin-top: 0;
  }
  .info-bot .info-bot-content .info-bot-content-right .servicios-activos {
    margin-top: 0;
  }
}

.spinner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
}

.spinner h4 {
  width: 100%;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #009ee0;
  -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 0);
          animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  -webkit-animation: lds-ellipsis1 0.6s infinite;
          animation: lds-ellipsis1 0.6s infinite;
  background-color: #d90000;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
          animation: lds-ellipsis2 0.6s infinite;
  background-color: #00b117;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
          animation: lds-ellipsis2 0.6s infinite;
  background-color: #ffd100;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  -webkit-animation: lds-ellipsis3 0.6s infinite;
          animation: lds-ellipsis3 0.6s infinite;
}

@-webkit-keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(24px, 0);
            transform: translate(24px, 0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(24px, 0);
            transform: translate(24px, 0);
  }
}
/*# sourceMappingURL=info-bot.css.map */